<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is it New Year's?</title>
    <style>
        .h1-style
        {
            font-size: 200px;
            text-align: center;
        }
    </style>
</head>
    <body>

        {% if newyear %}<!--Django notation to logic statements-->
            <h1 class="h1-style">YES</h1>
        {% else %}
            <h1 class="h1-style">NO</h1>
        {% endif %}<!--in django the if need to be closed-->
        
    </body>
</html>